
.studyUKWrapper {
  width: 100%;
  padding: 2rem 0;
  background: #fff;
 margin-bottom: 80px;
}


.studyUKSection {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.herotext {
  text-align: center;
}


.heading {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 1rem;
}


.studyUKContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}


.textSection {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 1rem;
}


.paragraph {
  font-size: 2.2rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: justify;
}

.list {
  list-style-type: disc;
  padding-left: 2rem;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
  text-align: justify;
  margin-top:10px;
}

.list li {
  margin-bottom: 1.7rem;
}


.imageSection {
  flex: 1 1 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ukImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  padding: 3rem;
}


.footertext {
  margin-top: 1rem;
}


.note {
  font-style: italic;
  font-weight: 600;
  color: #222;
  font-size: 2rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .studyUKContent {
    flex-direction: column-reverse; 
  }

  .studyUKWrapper{
  margin:0;
  }

   .studyUKSection {
    padding: 0 4rem;
    width: 100%;
  }

  .textSection,
  .imageSection {
    flex: 1 1 100%;
    padding: 0;
  }

  .ukImage {
   max-width:85%;
    padding: 2rem;
  }

  .note{
    font-size: 1.7rem;
  }

  .list{
    margin-top:25px;
  }
}

/* Mid-sized devices */
@media (max-width: 768px){
  .studyUKSection {
    padding: 0 1rem;
    width: 100%;
  }

  .studyUKWrapper{
  margin:0;
  }

  .heading {
    font-size: 2.2rem;
  }

  .imageSection {
    width: 100%;
  }

  .ukImage {
    padding: 1rem;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .studyUKSection {
    padding: 0 3rem;
    width:100%;
  }

  .studyUKWrapper{
  margin:0;
  }

  .list {
    padding-left: 1.2rem;
  }

  .note {
    padding-left: 0.5rem;
  }

  .ukImage {
    padding: 1rem;
  }
}
