.ieltsFormatWrapper {
  width: 100%;
  box-sizing: border-box;
}

.ieltsFormat {
  padding: 25px 2px;
  width: 80%;
  margin: auto;
}

.text {
  text-align: center;
  margin-bottom: 25px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  margin-top: 20px;
}

.contentWrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 3px 5px;
}

.imageContainer {
  flex: 1 1 300px;
  max-width: 450px;
}

.ieltsImage {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 250px;
  max-width: 300px;
  width: 100%;
  margin-right: 20px;
}

.button {
  background-color: #a40000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background-color: #8d0000;
}

.leftIcon,
.rightIcon {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.label {
  flex: 1;
  margin: 0 10px;
  text-align: left;
}

/* ✅ RESPONSIVENESS */
@media (max-width: 1024px) {
  .ieltsFormat {
    width: 100%;
  }

  .text {
    margin-bottom: 15px;
  }

  .contentWrapper {
    gap: 18px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .button {
    padding: 10px 8px;
  }

  .buttonContainer {
    width: 100%;
    align-items: center;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    flex: 1 1 275px;
    width: 100%;
  }

  .ieltsImage {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .heading {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .ieltsFormat {
    width: 100%;
    padding: 18px 2px;
    margin: auto;
  }

  .contentWrapper {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0%;
  }

  .button {
    width: 100%;
    padding: 12px 10px;
  }

  .buttonContainer {
    width: 100%;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    flex: 1 1 275px;
    width: 100%;
  }

  .ieltsImage {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .heading {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .ieltsFormat {
    width: 100%;
    padding: 10px 0;
  }

  .buttonContainer {
    margin-left: 10px;
  }

  .text {
    margin-bottom: 15px;
  }

  .contentWrapper {
    gap: 18px;
  }

  .button {
    padding: 10px 8px;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    flex: 1 1 210px;
    width: 100%;
  }

  .ieltsImage {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  .heading {
    margin-top: 10px;
  }
}
