.mainWrapper {
  width: 100%;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  padding: 2rem 2rem;
}

/* Page Title */
.pageTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  color: #184aad;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.5px;
  position: relative;
}

/* Optional Underline Decoration */
.pageTitle::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}

/* Card Grid */
.gridWrapper {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 2.5rem;
}

/* Individual Card */
.card {
  background-color: #6666;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Icon and Title in Card */
.iconTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  color: #184aad;
  font-size: 2rem;
  margin-right: 0.8rem;
}

.cardTitle {
  font-size: 1.8rem;
  font-weight: 600;
  color: #144272;
}

/* Card Body Text */
.cardText {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #333;
  /* margin-bottom: 1rem; */
  text-align: justify;
}

/* List inside card */
.cardList {
  padding-left: 1.5rem;
}

.cardList li {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  text-align: justify;
}

/* Image inside card */
.cardImage {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* Responsive Fix */

@media (max-width: 1080px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cardTitle {
    font-size: 1.6rem;
  }

  .cardText,
  .cardList li {
    font-size: 1.3rem;
  }

  .container {
    padding: 1rem;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .container {
    width: 100%;
  }
}
