/* ===================== Main Wrapper ===================== */
.homepageWrapper {
  width: 100%;
  background-color: #e6eff7;
  font-family: sans-serif;
  color: #333;
}

/* ===================== Hero Section ===================== */
.heroSection {
  width: 80%;
  margin: auto;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem 3rem 2rem;
  gap: 5rem;
}

/* ===================== Hero Text ===================== */
.heroText {
  flex: 1;
}

.heroText h1 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.heroText p {
  text-align: justify;
  margin-top: 15px;
  font-size: 3.4rem;
  color: #555;
}

/* ===================== Centered Hero Text Container ===================== */
.centeredHeroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: auto;
}

/* ===================== Hero Buttons ===================== */
.heroButtons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.contactBtn {
  background-color: #d62828;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2rem;
}

.applyBtn {
  background: none;
  border: 1px solid #d62828;
  color: #d62828;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2rem;
}

/* ===================== Hero Image ===================== */
.heroImage {
  flex: 1;
  margin: auto;
}

.heroImage img {
  padding: 1rem;
  width: 100%;
  height: auto;
}


/* ===================== Time Widget ===================== */
.timeWidgetContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; 
  height: auto;
}

/* ===================== Media Queries ===================== */
@media (max-width: 1080px) {
  .homepageWrapper {
    width: 100%;
    margin: auto;
  }

  .heroSection {
    width: 100%;
    padding: 1rem;
  }

    .timeWidgetContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .homepageWrapper {
    margin: 0 auto;
  }

  .heroSection {
    flex-wrap: wrap;
    padding: 1rem;
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .heroButtons {
    flex-direction: column;
    align-items: flex-start;
  }

    .timeWidgetContainer {
    display: none;
  }
}

@media (max-width: 485px) {
  .homepageWrapper {
    margin: 0 auto;
  }

  .heroSection {
    flex-wrap: wrap;
    padding: 1rem;
    flex-direction: column-reverse;
  }

    .timeWidgetContainer {
    display: none;
  }
}


/* Optional: Responsive tweak */
@media (max-width: 480px) {
  .timeWidgetContainer {
 display: none;
  }
}
